In [1]:
import pandas as pd

## Milestone 2, Task 3:
Create a function which will load a dataset from a csv file into a Pandas df.

In [2]:
def create_df(file_path):
    df = pd.read_csv(file_path)
    print(df.shape)
    return df

In [3]:
file_path = 'C:/Users/Chris/Documents/AiCoreEDA_Project/customer_activity.csv'

df = create_df(file_path)
df

(12330, 17)

,administrative,administrative_duration,informational,informational_duration,product_related,product_related_duration,bounce_rates,exit_rates,page_values,month,operating_systems,browser,region,traffic_type,visitor_type,weekend,revenue
0,0.0,0.000000,0,0.00,4.0,0.0,0.2000,0.200,0.0,May,Android,Google Chrome,North America,Twitter,Returning_Visitor,False,False
1,0.0,0.000000,0,0.00,26.0,876.0,0.0000,0.026,0.0,Nov,Windows,Google Chrome,Western Europe,Google search,Returning_Visitor,True,False
2,2.0,99.400000,0,0.00,19.0,368.0,0.0396,0.052,0.0,Sep,Windows,Google Chrome,Asia,Twitter,Returning_Visitor,False,False
3,0.0,0.000000,0,0.00,20.0,1432.0,0.0248,0.028,1.8,Dec,Windows,Google Chrome,Western Europe,Instagram ads,Returning_Visitor,False,True
4,0.0,0.000000,0,0.00,33.0,694.0,0.0141,0.032,0.0,May,Android,Google Chrome,North America,Instagram ads,Returning_Visitor,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,NaN,134.000000,4,112.22,48.0,1898.0,0.0030,0.007,0.0,Nov,Windows,Google Chrome,Western Europe,Google search,Returning_Visitor,True,False
12326,5.0,NaN,1,0.00,67.0,2202.0,0.0276,0.069,0.0,Aug,Windows,Google Chrome,Southern Africa,Facebook ads,Returning_Visitor,False,False
12327,0.0,0.000000,0,0.00,13.0,316.0,0.0000,0.017,0.0,Dec,Windows,Google Chrome,South America,Google search,New_Visitor,False,False
12328,5.0,98.000000,0,0.00,46.0,1469.0,0.0442,0.069,0.0,Sep,Windows,Google Chrome,North America,Facebook ads,Returning_Visitor,False,False
12329,8.0,244.160414,2,88.00,NaN,327.0,0.0000,0.007,0.0,Dec,Windows,Google Chrome,Africa,Google search,Returning_Visitor,False,False

## Milestone 3, Task 1:
Check for null values and data types:

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   administrative            11760 non-null  float64
 1   administrative_duration   11418 non-null  float64
 2   informational             12330 non-null  int64
 3   informational_duration    11994 non-null  float64
 4   product_related           11751 non-null  float64
 5   product_related_duration  12129 non-null  float64
 6   bounce_rates              12330 non-null  float64
 7   exit_rates                12330 non-null  float64
 8   page_values               12330 non-null  float64
 9   month                     12330 non-null  object
 10  operating_systems         12319 non-null  object
 11  browser                   12330 non-null  object
 12  region                    12330 non-null  object
 13  traffic_type              12330 non-null  object
 14  visitor_type              12330 non-null  object
 15  weekend                   12330 non-null  bool
 16  revenue                   12330 non-null  bool
dtypes: bool(2), float64(8), int64(1), object(6)
memory usage: 1.4+ MB

Identifying Dtype to change:
- numerical columns to int/float? can we use int32/float32 to save memory?
- administrative_duration, informational_duration and product_related_durationto datetime64?
- product_related to int?
- month to datetime64 or period?
- operating_system, browser, region, traffic_type and visitor_type to category

Create a DataTransform class to handle the conversion of column data types:

In [5]:
from transformations import DataTransform

In [7]:
transform_instance = DataTransform(df)
transform_instance.to_category('traffic_type', 'operating_systems', 'browser', 'region', 'visitor_type')
transform_instance.to_datetime('administrative_duration', 'informational_duration', 'product_related_duration')
transform_instance.to_Int('product_related')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   administrative            11760 non-null  float64
 1   administrative_duration   11418 non-null  timedelta64[ms]
 2   informational             12330 non-null  int64
 3   informational_duration    11994 non-null  timedelta64[ms]
 4   product_related           11751 non-null  Int64
 5   product_related_duration  12129 non-null  timedelta64[ms]
 6   bounce_rates              12330 non-null  float64
 7   exit_rates                12330 non-null  float64
 8   page_values               12330 non-null  float64
 9   month                     12330 non-null  object
 10  operating_systems         12319 non-null  category
 11  browser                   12330 non-null  category
 12  region                    12330 non-null  category
 13  traffic_type              12330 non-null  category
 14  visitor_type              12330 non-null  category
 15  weekend                   12330 non-null  bool
 16  revenue                   12330 non-null  bool
dtypes: Int64(1), bool(2), category(5), float64(4), int64(1), object(1), timedelta64[ms](3)
memory usage: 1.0+ MB

### Results:
All changed data types, except product_related which is now Int64 (note capital "I") which is a nullable array.

# Milestone 3, Task 2: 
Create a class to get information from the df:

In [11]:
from df_info import DataFrameInfo

info = DataFrameInfo(df)

#### Data types:

In [12]:
info.df_data_type()

The data type for each column is listed below:

administrative                      float64
administrative_duration     timedelta64[ms]
informational                         int64
informational_duration      timedelta64[ms]
product_related                       Int64
product_related_duration    timedelta64[ms]
bounce_rates                        float64
exit_rates                          float64
page_values                         float64
month                                object
operating_systems                  category
browser                            category
region                             category
traffic_type                       category
visitor_type                       category
weekend                                bool
revenue                                bool
dtype: object

#### Stats:

In [13]:
info.df_stats()

A statistical summary of the numerical columns is below:

,administrative,administrative_duration,informational,informational_duration,product_related,product_related_duration,bounce_rates,exit_rates,page_values
count,11760.000000,11418,12330.000000,11994,11751.0,12129,12330.000000,12330.000000,12330.000000
mean,2.308844,0 days 00:00:00.084000,0.497080,0 days 00:00:00.034000,32.814824,0 days 00:00:01.192000,0.022381,0.042820,5.556310
std,3.364905,0 days 00:00:00.179000,1.174194,0 days 00:00:00.136000,44.597841,0 days 00:00:01.767000,0.048847,0.048578,17.397345
min,0.000000,0 days 00:00:00,0.000000,0 days 00:00:00,0.0,0 days 00:00:00,0.000000,0.000000,0.000000
25%,0.000000,0 days 00:00:00,0.000000,0 days 00:00:00,8.0,0 days 00:00:00.192000,0.000000,0.014000,0.000000
50%,1.000000,0 days 00:00:00.006000,0.000000,0 days 00:00:00,18.0,0 days 00:00:00.586000,0.003500,0.025000,0.000000
75%,4.000000,0 days 00:00:00.095000,0.000000,0 days 00:00:00,38.0,0 days 00:00:01.425000,0.017600,0.049000,0.000000
max,24.000000,0 days 00:00:02.155000,12.000000,0 days 00:00:01.988000,485.0,0 days 00:00:23.866000,0.200000,0.200000,254.600000

#### Shape:

In [14]:
info.df_shape()

'The dataset has 12330 columns and 17 rows.'

#### Distinct values for categorical data:

In [15]:
info.df_category_distinct_values()

The frequency of unique values for each column containing categorical data is below:

operating_systems
Windows     6596
MACOS       2676
Android     2584
iOS          385
ChromeOS      62
Ubuntu         9
Other          7
Name: count, dtype: int64

browser
Google Chrome        7721
Safari               2527
Mozilla Firefox       830
Microsoft Edge        582
Internet Explorer     156
Samsung Internet      145
Opera                 136
Android               121
QQ                     53
Sogou Explorer         47
Yandex                  8
UC Browser              2
Undetermined            2
Name: count, dtype: int64

region
North America      4869
Western Europe     2283
Eastern Europe     1154
Asia               1143
South America       913
Africa              770
Northern Africa     499
Southern Africa     423
Oceania             276
Name: count, dtype: int64

traffic_type
Google search          3990
Facebook ads           2322
Instagram ads          2193
Bing search            1174
Youtube ads             643
Twitter                 474
Affiliate marketing     409
Youtube channel         402
Instagram Page          229
Direct Traffic          207
Tik Tok ads             142
Yahoo Search             43
Facebook page            30
Yandex search            21
Newsletter               16
Tik Tok page             13
DuckDuckGo search        10
Other                     6
Pinterest                 6
Name: count, dtype: int64

visitor_type
Returning_Visitor    10691
New_Visitor           1570
Other                   69
Name: count, dtype: int64

#### Null percentages:

In [16]:
info.df_null_info()

The percentage of null values for administrative is: 4.62 %
The percentage of null values for administrative_duration is: 7.4 %
The percentage of null values for informational is: 0.0 %
The percentage of null values for informational_duration is: 2.73 %
The percentage of null values for product_related is: 4.7 %
The percentage of null values for product_related_duration is: 1.63 %
The percentage of null values for bounce_rates is: 0.0 %
The percentage of null values for exit_rates is: 0.0 %
The percentage of null values for page_values is: 0.0 %
The percentage of null values for month is: 0.0 %
The percentage of null values for operating_systems is: 0.09 %
The percentage of null values for browser is: 0.0 %
The percentage of null values for region is: 0.0 %
The percentage of null values for traffic_type is: 0.0 %
The percentage of null values for visitor_type is: 0.0 %
The percentage of null values for weekend is: 0.0 %
The percentage of null values for revenue is: 0.0 %