In [1]:
import pandas as pd

## Milestone 2, Task 3:
Create a function which will load a dataset from a csv file into a Pandas df.

In [2]:
def create_df(file_path):
    df = pd.read_csv(file_path)
    print(df.shape)
    return df

In [3]:
file_path = 'C:/Users/Chris/Documents/AiCoreEDA_Project/customer_activity.csv'

df = create_df(file_path)
df

(12330, 17)

,administrative,administrative_duration,informational,informational_duration,product_related,product_related_duration,bounce_rates,exit_rates,page_values,month,operating_systems,browser,region,traffic_type,visitor_type,weekend,revenue
0,0.0,0.000000,0,0.00,4.0,0.0,0.2000,0.200,0.0,May,Android,Google Chrome,North America,Twitter,Returning_Visitor,False,False
1,0.0,0.000000,0,0.00,26.0,876.0,0.0000,0.026,0.0,Nov,Windows,Google Chrome,Western Europe,Google search,Returning_Visitor,True,False
2,2.0,99.400000,0,0.00,19.0,368.0,0.0396,0.052,0.0,Sep,Windows,Google Chrome,Asia,Twitter,Returning_Visitor,False,False
3,0.0,0.000000,0,0.00,20.0,1432.0,0.0248,0.028,1.8,Dec,Windows,Google Chrome,Western Europe,Instagram ads,Returning_Visitor,False,True
4,0.0,0.000000,0,0.00,33.0,694.0,0.0141,0.032,0.0,May,Android,Google Chrome,North America,Instagram ads,Returning_Visitor,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,NaN,134.000000,4,112.22,48.0,1898.0,0.0030,0.007,0.0,Nov,Windows,Google Chrome,Western Europe,Google search,Returning_Visitor,True,False
12326,5.0,NaN,1,0.00,67.0,2202.0,0.0276,0.069,0.0,Aug,Windows,Google Chrome,Southern Africa,Facebook ads,Returning_Visitor,False,False
12327,0.0,0.000000,0,0.00,13.0,316.0,0.0000,0.017,0.0,Dec,Windows,Google Chrome,South America,Google search,New_Visitor,False,False
12328,5.0,98.000000,0,0.00,46.0,1469.0,0.0442,0.069,0.0,Sep,Windows,Google Chrome,North America,Facebook ads,Returning_Visitor,False,False
12329,8.0,244.160414,2,88.00,NaN,327.0,0.0000,0.007,0.0,Dec,Windows,Google Chrome,Africa,Google search,Returning_Visitor,False,False

## Milestone 3, Task 1:
Check for null values and data types:

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   administrative            11760 non-null  float64
 1   administrative_duration   11418 non-null  float64
 2   informational             12330 non-null  int64
 3   informational_duration    11994 non-null  float64
 4   product_related           11751 non-null  float64
 5   product_related_duration  12129 non-null  float64
 6   bounce_rates              12330 non-null  float64
 7   exit_rates                12330 non-null  float64
 8   page_values               12330 non-null  float64
 9   month                     12330 non-null  object
 10  operating_systems         12319 non-null  object
 11  browser                   12330 non-null  object
 12  region                    12330 non-null  object
 13  traffic_type              12330 non-null  object
 14  visitor_type              12330 non-null  object
 15  weekend                   12330 non-null  bool
 16  revenue                   12330 non-null  bool
dtypes: bool(2), float64(8), int64(1), object(6)
memory usage: 1.4+ MB

Identifying Dtype to change:
- numerical columns to int/float? can we use int32/float32 to save memory?
- administrative_duration, informational_duration and product_related_durationto datetime64?
- product_related to int?
- month to datetime64 or period?
- operating_system, browser, region, traffic_type and visitor_type to category

Create a DataTransform class to handle the conversion of column data types:

In [5]:
from transformations import DataTransform

In [7]:
transform_instance = DataTransform(df)
transform_instance.to_category('traffic_type', 'operating_systems', 'browser', 'region', 'visitor_type')
transform_instance.to_datetime('administrative_duration', 'informational_duration', 'product_related_duration')
transform_instance.to_Int('product_related')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   administrative            11760 non-null  float64
 1   administrative_duration   11418 non-null  timedelta64[ms]
 2   informational             12330 non-null  int64
 3   informational_duration    11994 non-null  timedelta64[ms]
 4   product_related           11751 non-null  Int64
 5   product_related_duration  12129 non-null  timedelta64[ms]
 6   bounce_rates              12330 non-null  float64
 7   exit_rates                12330 non-null  float64
 8   page_values               12330 non-null  float64
 9   month                     12330 non-null  object
 10  operating_systems         12319 non-null  category
 11  browser                   12330 non-null  category
 12  region                    12330 non-null  category
 13  traffic_type              12330 non-null  category
 14  visitor_type              12330 non-null  category
 15  weekend                   12330 non-null  bool
 16  revenue                   12330 non-null  bool
dtypes: Int64(1), bool(2), category(5), float64(4), int64(1), object(1), timedelta64[ms](3)
memory usage: 1.0+ MB

### Results:
All changed data types, except product_related which is now Int64 (note capital "I") which is a nullable array.

# Milestone 3, Task 2: 
Create a class to get information from the df: